@charset "UTF-8";
/* Define a codificação do arquivo como UTF-8 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Define a fonte padrão para todos os elementos */

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Remove margens e espaçamentos padrão e ajusta o box model */
}

body, html {
    background-color: rgb(2, 2, 61);
    /* Define a cor de fundo para o corpo e o HTML */

    height: 100vh;
    width: 100vw;
    /* Define a altura e largura como 100% da janela de visualização */
}

main {
    position: relative;
    /* Define o posicionamento relativo para o elemento principal */

    height: 100vh;
    width: 100vw;
    /* Define a altura e largura como 100% da janela de visualização */
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Centraliza a seção de login vertical e horizontalmente */

    

    overflow: hidden;
    /* Esconde qualquer conteúdo que ultrapasse os limites da seção */

    background-color: white;
    /* Define a cor de fundo da seção como branca */

    width: 250px;
    height: 515px;
    /* Define a largura e altura da seção de login */

    border-radius: 20px;
    /* Adiciona bordas arredondadas à seção */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    /* Adiciona uma sombra ao redor da seção */

    transition: width 0.3s, height 0.3s;
    /* Define uma transição suave para mudanças de largura e altura */

    transition-timing-function: ease;
    /* Define o comportamento da transição como suave */
    transform: translate(-50%, -50%);
    /* Ajusta a posição para que o ponto central fique no meio da tela */
}

section#login > div#imagem {
    display: block;
    /* Exibe o elemento como um bloco */

    background: rgb(3, 3, 107) url(../imagens/pexels-pixabay-158826.jpg) no-repeat;
    /* Define uma cor de fundo e uma imagem de fundo sem repetição */

    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o espaço disponível */

    height: 200px;
    /* Define a altura da div de imagem */
}

section#login > div#formulario {
    display: block;
    /* Exibe o elemento como um bloco */
    padding: 10px;
    /* Adiciona espaçamento interno à div de formulário */
}

div#formulario > h1 {
    text-align: center;
    /* Centraliza o texto do título dentro do formulário */

    margin-bottom: 10px;
    /* Adiciona um espaçamento inferior ao título */
}

div#formulario > p {
    font-size: 0.8em;
    /* Define o tamanho da fonte do parágrafo como 80% do tamanho padrão */
}

form > div.campo {
    background-color: #2635bd;
    /* Define a cor de fundo do campo como azul */

    border: 2px solid #2635bd;
    /* Adiciona uma borda azul de 2px ao redor do campo */

    display: flex;
    /* Define o layout do campo como flexbox */

    width: 100%;
    /* Define a largura do campo como 100% do elemento pai */

    height: 40px;
    /* Define a altura do campo como 40px */

    border-radius: 8px;
    /* Adiciona bordas arredondadas ao campo */

    margin: 5px 0px;
    /* Adiciona um espaçamento vertical de 5px entre os campos */
}

div.campo > label {
    display: none;
    /* Esconde o rótulo do campo */
}

div.campo > i {
    color: white;
    /* Define a cor do ícone como branca */

    font-size: 2em;
    /* Define o tamanho da fonte do ícone como 2 vezes o tamanho padrão */

    width: 40px;
    /* Define a largura do ícone como 40px */

    padding: 5px;
    /* Adiciona um espaçamento interno de 5px ao ícone */
}

div.campo > input{
    background-color:#0a0097;
    font-size: 100%;
    flex: 1;
    border: 0px;
    border-radius: 8px;
    padding: 3px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0d00c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    form > input[type=submit]:hover {
    background-color: #070241;
    }

    form > a.botao {
        display: block;
        /* Exibe o botão como um bloco, ocupando toda a largura disponível */

        text-align: center;
        /* Centraliza o texto dentro do botão */

        font-size: 1em;
        /* Define o tamanho da fonte como o tamanho padrão */

        width: 100%;
        /* Define a largura do botão como 100% do elemento pai */

        height: 40px;
        /* Define a altura do botão como 40px */

        padding-top: 5px;
        /* Adiciona um espaçamento interno superior de 5px */

        margin-top: 5px;
        /* Adiciona um espaçamento superior de 5px */

        background-color: rgb(192, 12, 6);
        /* Define a cor de fundo do botão como vermelho */

        color: #000000;
        /* Define a cor do texto do botão como preto */

        border: 1px solid #070000;
        /* Adiciona uma borda preta de 1px ao redor do botão */

        border-radius: 7px;
        /* Adiciona bordas arredondadas ao botão */

        text-decoration: none;
        /* Remove o sublinhado do texto do botão */
    }

    form a.botao:hover {
        background-color: #3d0202;
        /* Altera a cor de fundo do botão para um tom mais escuro de vermelho ao passar o mouse */
    }

    form > a.botao > i {
        font-size: 0.8em;
        /* Define o tamanho da fonte do ícone como 80% do tamanho padrão */
    }
