@charset "UTF8";
/* Define a codificação do arquivo como UTF-8 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Define a fonte padrão para todos os elementos */

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Remove margens e espaçamentos padrão e ajusta o box model */
}

body, html {
    background-color: rgb(4, 4, 175);
    /* Define a cor de fundo para o corpo e o HTML */

    height: 100vh;
    width: 100vw;
    /* Define a altura e largura como 100% da janela de visualização */
}

main {
    position: relative;
    /* Define o posicionamento relativo para o elemento principal */

    height: 100vh;
    width: 100vw;
    /* Define a altura e largura como 100% da janela de visualização */
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Centraliza a seção de login vertical e horizontalmente */

    transform: translate(-50%, -50%);
    /* Ajusta a posição para que o ponto central fique no meio da tela */

    overflow: hidden;
    /* Esconde qualquer conteúdo que ultrapasse os limites da seção */

    background-color: white;
    /* Define a cor de fundo da seção como branca */

    width: 250px;
    height: 500px;
    /* Define a largura e altura da seção de login */

    border-radius: 20px;
    /* Adiciona bordas arredondadas à seção */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    /* Adiciona uma sombra ao redor da seção */

    transition: width 0.3s, height 0.3s;
    /* Define uma transição suave para mudanças de largura e altura */

    transition-timing-function: ease;
    /* Define o comportamento da transição como suave */
}

section#login > div#imagem {
    display: block;
    /* Exibe o elemento como um bloco */

    background: rgb(3, 3, 107) url(../imagens/pexels-pixabay-158826.jpg) no-repeat;
    /* Define uma cor de fundo e uma imagem de fundo sem repetição */

    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o espaço disponível */

    height: 200px;
    /* Define a altura da div de imagem */
}

section#login > div#formulario {
    display: block;
    /* Exibe o elemento como um bloco */
    padding: 10px;
    /* Adiciona espaçamento interno à div de formulário */
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}