@charset "UTF8";
/*Reunindo tudo em um único CSS*/


/*Configurações Gerais*/ 
@media all {
    *{
        margin: 0px;
        padding: 0px;
    }
    
    html, body {
        width: 100vw;
        height: 100vh;
        background-color: rgba(141, 5, 5, 0.979);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1{
        color: white;
        text-shadow: 2px 2px 0px rgb(3, 0, 0);
        padding: 10px;
    }

}


/*Aparelho em pé (portrait)*/ 

@media screen and (orientation: portrait) {
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    } 
}


/*Aparelho deitado (Landscape)*/ 

@media screen and (orientation: landscape) {
    body{
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    }
}