@charset "UTF-8";

.quadrado{                     /*estilização GERAL*/
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: coral;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.quadrado1{
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(5, 241, 24);
}
.quadrado2{
    right: 0px;
    bottom: 0px;
    background-color: crimson;
}

.quadrado3{
    left: 0px;
    bottom: 0px;
    background-color: rgb(243, 208, 8);
}

.quadrado4{
    right: 0px;
    top: 0px;
    background-color: rgb(20, 57, 220);
}

.imagem {
    background: url("../logo2.png") no-repeat;
    width: 200px;
    height: 200px;
    display: block;
    background-size: contain;
}

.imagem:hover {
    background-position: 50px;
}